In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\kdmod\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kdmod\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\kdmod\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\kdmod\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\kdmod\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\kdmod\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: cffi>=1.14 in c:\users\kdmod\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\kdmod\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\kdmod\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: idna in c:\users\kdmod\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\kdmod\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in c:\users\kdmod\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\kdmod\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\kdmod\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\kdmod\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\kdmod\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kdmod\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

## 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 

A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [71]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
from selenium.common.exceptions import StaleElementReferenceException

In [72]:
driver= webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time.sleep(2)

In [73]:
view =[]
rank =[]
name = []
artist=[]
upload_date= []

In [74]:
try:
    v_name = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody[1]/tr/td[1]')
    for i in v_name:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')

In [75]:
len(name)

30

In [76]:
print(name)

['"Baby Shark Dance"[6]', '"Despacito"[9]', '"Johny Johny Yes Papa"[17]', '"Bath Song"[18]', '"Shape of You"[19]', '"See You Again"[22]', '"Wheels on the Bus"[27]', '"Phonics Song with Two Words"[28]', '"Uptown Funk"[29]', '"Learning Colors – Colorful Eggs on a Farm"[30]', '"Gangnam Style"[31]', '"Masha and the Bear – Recipe for Disaster"[36]', '"Dame Tu Cosita"[37]', '"Axel F"[38]', '"Sugar"[39]', '"Counting Stars"[40]', '"Baa Baa Black Sheep"[41]', '"Roar"[42]', '"Lakdi Ki Kathi"[43]', '"Waka Waka (This Time for Africa)"[44]', '"Sorry"[45]', '"Thinking Out Loud"[46]', '"Humpty the train on a fruits ride"[47]', '"Shree Hanuman Chalisa"[48]', '"Dark Horse"[49]', '"Perfect"[50]', '"Let Her Go"[51]', '"Faded"[52]', '"Girls Like You"[53]', '"Lean On"[54]']

In [77]:
try:
    v_artist= driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody[1]/tr/td[2]')
    for i in v_artist:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('-')

In [78]:
len(artist)

30

In [79]:
print(artist)

["Pinkfong Baby Shark - Kids' Songs & Stories", 'Luis Fonsi', "LooLoo Kids - Nursery Rhymes and Children's Songs", 'Cocomelon - Nursery Rhymes', 'Ed Sheeran', 'Wiz Khalifa', 'Cocomelon - Nursery Rhymes', 'ChuChu TV Nursery Rhymes & Kids Songs', 'Mark Ronson', 'Miroshka TV', 'Psy', 'Get Movies', 'Ultra Records', 'Crazy Frog', 'Maroon 5', 'OneRepublic', 'Cocomelon - Nursery Rhymes', 'Katy Perry', 'Jingle Toons', 'Shakira', 'Justin Bieber', 'Ed Sheeran', 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs', 'T-Series Bhakti Sagar', 'Katy Perry', 'Ed Sheeran', 'Passenger', 'Alan Walker', 'Maroon 5', 'Major Lazer Official']

In [80]:
try:
    v_view= driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody[1]/tr/td[3]')
    for i in v_view:
        view.append(i.text)
except NoSuchElementException:
    view.append('-')

In [81]:
len(view)

30

In [82]:
print(view)

['14.09', '8.38', '6.87', '6.62', '6.20', '6.17', '5.88', '5.70', '5.15', '5.07', '5.05', '4.58', '4.55', '4.34', '4.00', '3.97', '3.96', '3.96', '3.91', '3.85', '3.77', '3.73', '3.73', '3.69', '3.67', '3.67', '3.61', '3.59', '3.56', '3.55']

In [83]:
try:
    v_date= driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody[1]/tr/td[4]')
    for i in v_date:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append('-')

In [84]:
len(upload_date)

30

In [85]:
print(upload_date)

['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'May 2, 2018', 'January 30, 2017', 'April 6, 2015', 'May 24, 2018', 'March 6, 2014', 'November 19, 2014', 'February 27, 2018', 'July 15, 2012', 'January 31, 2012', 'April 5, 2018', 'June 16, 2009', 'January 14, 2015', 'May 31, 2013', 'June 25, 2018', 'September 5, 2013', 'June 14, 2018', 'June 4, 2010', 'October 22, 2015', 'October 7, 2014', 'January 26, 2018', 'May 10, 2011', 'February 20, 2014', 'November 9, 2017', 'July 25, 2012', 'December 3, 2015', 'May 31, 2018', 'March 22, 2015']

In [86]:
try:
    v_rank= driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody[1]/tr/td[0]')
    for i in v_rank:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')

In [87]:
len(rank)

0

In [88]:
print(rank)

[]

In [89]:
Most_view= pd.DataFrame({'video_Name':name, 'Artist':artist,'Number_of_view_In_Billions':view,'Date_uploaded':upload_date})
Most_view

,video_Name,Artist,Number_of_view_In_Billions,Date_uploaded
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016"
1,"""Despacito""[9]",Luis Fonsi,8.38,"January 12, 2017"
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,"October 8, 2016"
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.62,"May 2, 2018"
4,"""Shape of You""[19]",Ed Sheeran,6.20,"January 30, 2017"
5,"""See You Again""[22]",Wiz Khalifa,6.17,"April 6, 2015"
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.88,"May 24, 2018"
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.70,"March 6, 2014"
8,"""Uptown Funk""[29]",Mark Ronson,5.15,"November 19, 2014"
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.07,"February 27, 2018"
10,"""Gangnam Style""[31]",Psy,5.05,"July 15, 2012"
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.58,"January 31, 2012"
12,"""Dame Tu Cosita""[37]",Ultra Records,4.55,"April 5, 2018"
13,"""Axel F""[38]",Crazy Frog,4.34,"June 16, 2009"
14,"""Sugar""[39]",Maroon 5,4.00,"January 14, 2015"
15,"""Counting Stars""[40]",OneRepublic,3.97,"May 31, 2013"
16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.96,"June 25, 2018"
17,"""Roar""[42]",Katy Perry,3.96,"September 5, 2013"
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.91,"June 14, 2018"
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,3.85,"June 4, 2010"
20,"""Sorry""[45]",Justin Bieber,3.77,"October 22, 2015"
21,"""Thinking Out Loud""[46]",Ed Sheeran,3.73,"October 7, 2014"
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,"January 26, 2018"
23,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,3.69,"May 10, 2011"
24,"""Dark Horse""[49]",Katy Perry,3.67,"February 20, 2014"
25,"""Perfect""[50]",Ed Sheeran,3.67,"November 9, 2017"
26,"""Let Her Go""[51]",Passenger,3.61,"July 25, 2012"
27,"""Faded""[52]",Alan Walker,3.59,"December 3, 2015"
28,"""Girls Like You""[53]",Maroon 5,3.56,"May 31, 2018"
29,"""Lean On""[54]",Major Lazer Official,3.55,"March 22, 2015"

## Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [6]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd

In [7]:
driver =webdriver.Chrome()
driver.get('https://www.bcci.tv/')

time.sleep(1)

In [8]:
fixture_button = driver.find_element(By.XPATH,'//div[@class="tab-content bg-white w-100"]/div[2]/ul/div[1]/a[2]')
fixture_button.click()
time.sleep(1)

In [9]:
series=[]
place=[]
date=[]
time=[]

In [10]:
series_name = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_name:
    series.append(i.text)

In [11]:
len(series)

6

In [12]:
print(series)

['ENGLAND TOUR OF INDIA 2023-24', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024']

In [13]:
series_place = driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in series_place:
    place.append(i.text)

In [14]:
len(place)

6

In [15]:
print(place)

['Himachal Pradesh Cricket Association Stadium, Dharamsala', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare']

In [16]:
dates = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in dates:
    date.append(i.text)

In [17]:
len(date)

6

In [18]:
print(date)

['7 MARCH, 2024', '6 JULY, 2024', '7 JULY, 2024', '10 JULY, 2024', '13 JULY, 2024', '14 JULY, 2024']

In [19]:
s_time = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in s_time:
    time.append(i.text)

In [20]:
len(time)

6

In [21]:
print(time)

['4:00 AM GMT', '3:30 PM GMT', '3:30 PM GMT', '3:30 PM GMT', '3:30 PM GMT', '3:30 PM GMT']

In [22]:
team_India_fixture = pd.DataFrame({'Series_Name':series,'Place':place, 'Date':date,'Time':time})
team_India_fixture

,Series_Name,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",4:00 AM GMT
1,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",3:30 PM GMT
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",3:30 PM GMT
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",3:30 PM GMT
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",3:30 PM GMT
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",3:30 PM GMT

# Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: 
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [55]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd

In [56]:
driver = webdriver.Chrome()
driver.get('http://statisticstimes.com/')
driver.maximize_window()
time.sleep(2)

In [57]:
home_button = driver.find_element(By.XPATH,'//div[@class="dropdown"][2]')
home_button.click()
button_click = driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/div/a[3]')
button_click.click()

In [64]:
gdp_of_state= driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp_of_state.click()

In [65]:
rank=[]
state =[]
gsdp_21_22 =[]
gsdp_22_23 =[]
share_21_22 =[]
gdp_in_billion =[]

In [66]:
try:
    s_rank = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in s_rank:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')

In [67]:
print(rank)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']

In [68]:
try:
    s_name = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in s_name:
        state.append(i.text)
except NoSuchElementException:
    state.append('-')

In [69]:
print(state)

['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Karnataka', 'Gujarat', 'West Bengal', 'Rajasthan', 'Madhya Pradesh', 'Andhra Pradesh', 'Telangana', 'Kerala', 'Delhi', 'Haryana', 'Odisha', 'Bihar', 'Punjab', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir-UT', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Arunachal Pradesh', 'Nagaland', 'Mizoram', 'Andaman & Nicobar Islands']

In [70]:
try:
    gsdp_21 = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gsdp_21:
        gsdp_21_22.append(i.text)
except NoSuchElementException:
    gsdp_21_22.append('-')

In [71]:
print(gsdp_21_22)

['3,108,022', '2,071,286', '1,974,532', '1,962,725', '1,937,066', '1,363,926', '1,218,193', '1,136,137', '1,133,837', '1,128,907', '932,470', '904,642', '870,665', '670,881', '650,302', '614,227', '412,612', '406,416', '358,863', '272,159', '199,917', '176,269', '82,604', '62,550', '45,635', '44,238', '38,785', '37,557', '36,594', '35,124', '31,913', '27,824', '10,371']

In [72]:
try:
    gsdp_22 = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gsdp_22:
        gsdp_22_23.append(i.text)
except NoSuchElementException:
    gsdp_22_23.append('-')

In [73]:
print(gsdp_22_23)

['-', '2,364,514', '2,257,575', '2,241,368', '-', '1,554,992', '1,413,620', '1,322,821', '1,317,728', '1,313,391', '-', '1,043,759', '994,154', '774,869', '751,396', '673,107', '493,167', '457,608', '393,722', '302,621', '227,927', '195,405', '-', '72,636', '-', '-', '42,697', '42,756', '-', '-', '-', '-', '-']

In [74]:
try:
    share= driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share:
        share_21_22.append(i.text)
except NoSuchElementException:
    share_21_22.append('-')

In [75]:
print(share_21_22)

['13.24%', '8.82%', '8.41%', '8.36%', '8.25%', '5.81%', '5.19%', '4.84%', '4.83%', '4.81%', '3.97%', '3.85%', '3.71%', '2.86%', '2.77%', '2.62%', '1.76%', '1.73%', '1.53%', '1.16%', '0.85%', '0.75%', '0.35%', '0.27%', '0.19%', '0.19%', '0.17%', '0.16%', '0.16%', '0.15%', '0.14%', '0.12%', '0.04%']

In [76]:
try:
    s_gdp = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in s_gdp:
        gdp_in_billion.append(i.text)
except NoSuchElementException:
    gdp_in_billion.append('-')

In [77]:
print(gdp_in_billion)

['417.163', '278.011', '265.024', '263.440', '259.996', '183.068', '163.507', '152.494', '152.185', '151.523', '125.157', '121.422', '116.862', '90.047', '87.284', '82.442', '55.381', '54.550', '48.167', '36.530', '26.833', '23.659', '11.087', '8.396', '6.125', '5.938', '5.206', '5.041', '4.912', '4.714', '4.283', '3.735', '1.392']

In [78]:
state_gdp= pd.DataFrame({'Rank':rank,'State':state,'GSDP_in_21_22':gsdp_21_22, 'GSDP_in_22_23':gsdp_22_23,'State_Share':share_21_22,'GDP_$Billion':gdp_in_billion})
state_gdp

,Rank,State,GSDP_in_21_22,GSDP_in_22_23,State_Share,GDP_$Billion
0,1,Maharashtra,"3,108,022",-,13.24%,417.163
1,2,Tamil Nadu,"2,071,286","2,364,514",8.82%,278.011
2,3,Uttar Pradesh,"1,974,532","2,257,575",8.41%,265.024
3,4,Karnataka,"1,962,725","2,241,368",8.36%,263.440
4,5,Gujarat,"1,937,066",-,8.25%,259.996
5,6,West Bengal,"1,363,926","1,554,992",5.81%,183.068
6,7,Rajasthan,"1,218,193","1,413,620",5.19%,163.507
7,8,Madhya Pradesh,"1,136,137","1,322,821",4.84%,152.494
8,9,Andhra Pradesh,"1,133,837","1,317,728",4.83%,152.185
9,10,Telangana,"1,128,907","1,313,391",4.81%,151.523
10,11,Kerala,"932,470",-,3.97%,125.157
11,12,Delhi,"904,642","1,043,759",3.85%,121.422
12,13,Haryana,"870,665","994,154",3.71%,116.862
13,14,Odisha,"670,881","774,869",2.86%,90.047
14,15,Bihar,"650,302","751,396",2.77%,87.284
15,16,Punjab,"614,227","673,107",2.62%,82.442
16,17,Assam,"412,612","493,167",1.76%,55.381
17,18,Chhattisgarh,"406,416","457,608",1.73%,54.550
18,19,Jharkhand,"358,863","393,722",1.53%,48.167
19,20,Uttarakhand,"272,159","302,621",1.16%,36.530
20,21,Jammu & Kashmir-UT,"199,917","227,927",0.85%,26.833
21,22,Himachal Pradesh,"176,269","195,405",0.75%,23.659
22,23,Goa,"82,604",-,0.35%,11.087
23,24,Tripura,"62,550","72,636",0.27%,8.396
24,25,Chandigarh,"45,635",-,0.19%,6.125
25,26,Puducherry,"44,238",-,0.19%,5.938
26,27,Meghalaya,"38,785","42,697",0.17%,5.206
27,28,Sikkim,"37,557","42,756",0.16%,5.041
28,29,Manipur,"36,594",-,0.16%,4.912
29,30,Arunachal Pradesh,"35,124",-,0.15%,4.714
30,31,Nagaland,"31,913",-,0.14%,4.283
31,32,Mizoram,"27,824",-,0.12%,3.735
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.392

# Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [123]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd

In [124]:
driver= webdriver.Chrome()
driver.get('https://github.com/')
time.sleep(1)

In [125]:
os_button= driver.find_element(By.XPATH,'//li[@class="HeaderMenu-item position-relative flex-wrap flex-justify-between flex-items-center d-block d-lg-flex flex-lg-nowrap flex-lg-items-center js-details-container js-header-menu-item"][3]')
os_button.click()
tranding_button= driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
tranding_button.click()

In [126]:
title=[]
discription=[]
c_count=[]
language=[]

In [127]:
try:
    r_title = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
    for i in r_title:
        title.append(i.text)
except NoSuchElementException:
    title.append('------')

In [128]:
print(title)

['layerdiffusion / sd-forge-layerdiffusion', 'naver / dust3r', 'EbookFoundation / free-programming-books', 'cooderl / wewe-rss', 'ReVanced / revanced-manager', 'AUTOMATIC1111 / stable-diffusion-webui', 'pydantic / FastUI', 'iptv-org / iptv', 'ente-io / ente', 'vercel / ai', 'bigcode-project / starcoder2', 'adrianhajdin / brainwave', 'microsoft / generative-ai-for-beginners', 'microsoft / Security-101', 'nodejs / nodejs.org', 'Lissy93 / web-check', 'jafioti / luminal', 'cloudcommunity / Free-Certifications', 'allenai / OLMo', 'microsoft / AI-For-Beginners', 'alireza0 / s-ui', 'argmaxinc / WhisperKit', 'memorysafety / river', 'FuelLabs / fuel-core', 'SerenityOS / serenity']

In [129]:
len(title)

25

In [130]:
try:
    discr = driver.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
    for i in discr:
        discription.append(i.text)
except NoSuchElementException:
    discription.append('------')

In [131]:
print(discription)

['[WIP] Layer Diffusion for WebUI (via Forge)', '📚 Freely available programming books', '🤗更优雅的微信公众号订阅方式，支持私有化部署、微信公众号RSS生成（基于微信读书）。', '💊 Application to use ReVanced on Android', 'Stable Diffusion web UI', 'Build better UIs faster.', 'Collection of publicly available IPTV channels from all over the world', 'Fully open source, End to End Encrypted alternative to Google Photos and Apple Photos', 'Build AI-powered applications with React, Svelte, Vue, and Solid', 'Home of StarCoder2!', 'Learn to create modern websites with sleek parallax effects and bento box layouts. This course covers everything from stylish UI design to mobile-first principles while strengthening your React.js and Tailwind CSS skills.', '18 Lessons, Get Started Building with Generative AI 🔗 https://microsoft.github.io/generative-ai-for-beginners/', '7 Lessons, Kick-start Your Cybersecurity Learning.', 'The Node.js® Website', '🕵️\u200d♂️ All-in-one OSINT tool for analysing any website', 'Deep learning at the speed of light.', 'A curated list of free courses & certifications.', 'Modeling, training, eval, and inference code for OLMo', '12 Weeks, 24 Lessons, AI for All!', 'An advanced Web Panel • Built for SagerNet/Sing-Box', 'Swift native on-device speech recognition with Whisper for Apple Silicon', 'This repository is the future home of the River reverse proxy application, based on the pingora library from Cloudflare.', 'Rust full node implementation of the Fuel v2 protocol.', 'The Serenity Operating System 🐞']

In [132]:
len(discription)

24

In [133]:
try:
    conti = driver.find_elements(By.XPATH,'//span[@class="d-inline-block mr-3"]')
    for i in conti:
        c_count.append(i.text)
except NoSuchElementException:
    c_count('------')

In [134]:
print(c_count)

['Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by', 'Built by']

# Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/ You have to find the following details:

A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [135]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd

In [138]:
driver = webdriver.Chrome()
driver.get('https:/www.billboard.com/')
time.sleep(1)

In [140]:
Y_E_C_button = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]')
Y_E_C_button.click()
time.sleep(1)

In [141]:
fchart_button = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]')
fchart_button.click()
time.sleep(1)

In [142]:
s_name=[]
artist =[]
last_w_rank =[]
p_rank=[]
weeks_on_board=[]

In [143]:
try:
    sname = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
    for i in sname:
        s_name.append(i.text)
except NoSuchElementException:
    s_name.append('-')
    
try:
    aname = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
    for i in aname:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('-')

try:
    l_w_r = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
    for i in l_w_r:
        last_w_rank.append(i.text)
except NoSuchElementException:
    last_w_rank.append('-')

try:
    peak= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
    for i in peak:
        p_rank.append(i.text)
except NoSuchElementException:
    p_rank.append('-')

try:
    on_board = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
    for i in on_board:
        weeks_on_board.append(i.text)
except NoSuchElementException:
    weeks_on_board.append('-')

In [144]:
Billboard_Hot_100 = pd.DataFrame({'Song_Name':s_name,'Artist':artist,'Last_week_rank':last_w_rank,'Peak_rank':p_rank,'Weeks_on_board':weeks_on_board})
Billboard_Hot_100

,Song_Name,Artist,Last_week_rank,Peak_rank,Weeks_on_board
0,Texas Hold 'Em,Beyonce,2,1,2
1,Lovin On Me,Jack Harlow,1,1,15
2,Lose Control,Teddy Swims,5,2,28
3,Carnival,¥$: Kanye West & Ty Dolla $ign Featuring Rich ...,3,3,2
4,Beautiful Things,Benson Boone,4,3,5
...,...,...,...,...,...
95,Talking,¥$: Kanye West & Ty Dolla $ign Featuring North...,30,30,2
96,Monaco,Bad Bunny,97,5,19
97,Where It Ends,Bailey Zimmerman,-,32,8
98,Wondering Why,The Red Clay Strays,-,71,8
99,Northern Attitude,Noah Kahan With Hozier,75,37,12

# Scrape the details of Highest selling novels.

A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [145]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd

In [146]:
driver = webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
time.sleep(1)

In [147]:
book_name=[]
author =[]
volumes=[]
publisher=[]
genre=[]

In [148]:
try:
    bname= driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[2]')
    for i in bname:
        book_name.append(i.text)
except NoSuchElementException:
    book_name.append('-')
try:
    bauthor=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[3]')
    for i in bauthor:
        author.append(i.text)
except NoSuchElementException:
    author.append('-')
try:
    vols = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[4]')
    for i in vols:
        volumes.append(i.text)
except NoSuchElementException:
    volumes.append('-')
try:
    publis = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[5]')
    for i in publis:
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('-')
try:
    gen = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[6]')
    for i in gen:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-')

In [149]:
Top_Books= pd.DataFrame({'Book_Title':book_name,'Author':author,'Volumes_sold':volumes,'Publisher':publisher,'Genre':genre})
Top_Books

,Book_Title,Author,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General